/* 
 James Fraser
 2012 
*/

html,
body {
 width: 470px;
 margin: 0 auto;
 /*font-family: Georgia, Serif;*/
 font-family: Ubuntu, Georgia, Serif;
 /*font-family: 'Open Sans', sans-serif;*/
 font-size: 20px;
 height: 100%;
 padding: 0;
}

#header {
 width: 470px;
 border-top: 1px solid #ccf;
 padding: 10px 0px;
 padding-top: 5px;
 padding-bottom: 100px;
 font-size: 18px;
}

.nav ul {
 display: inline;
}

.nav li {
 display: inline;
 padding: 0;
 float: left;
}

.nav li:after {
 content: " / ";
}

.nav ul li:last-child:after {
 content: "";
}

#content { 
 width: 470px;
 padding-bottom: 80px;
}

#footer { 
 border-top: 2px solid #ccf;
 width: 470px;
 text-align: center;
 font-size: 15px;
 padding-bottom: 10px;
 /*height: 50px;*/
}

/*#push {
  height: 50px;
}*/

a {
 color: #004491;
 text-decoration: none;
 border-bottom: 1px dotted #ccf; 
}

a:hover {
 border-bottom: 1px solid #ccf;
}

h1, h2, h3 {
 /*font-weight: normal;*/
}

.pagetitle {
 padding-bottom: 5px;
 border-bottom: 1px solid #ccf;
}

#container {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 /*margin: 0 auto -50px;*/
}

#forkme {
 position: absolute; 
 top: 0; 
 right: 0;  
 border: 0;
}
