<div id="header">
   <div class="nav">
      <ul>
         <li><a href="/">wulfgar.pro</a>, a space for James Fraser</li> <br />
         {% if site.github %}
            <li><a href="{{ site.github }}" target="_blank">github</a></li>
         {% endif %}
         {% if site.twitter %}
            <li><a href="{{ site.twitter }}" target="_blank">twitter</a></li>
         {% endif %}
         {% if site.blog %}
            <li><a href="{{ site.blog }}" target="_blank">blog</a></li>
         {% endif %}
      </ul>
   </div>
</div>
