<!DOCTYPE HTML>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      {% if page.title %}
         <title>{{ page.title }}</title>
      {% else %}
         <title>James Fraser</title>
      {% endif %}
      <meta name="description" content="wulfgar.pro, a space for James Fraser" />
      <link rel="icon" href="images/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
   </head>
   <body>
      <div id="container">
      {% include header.html %}
      <div id="content">
         {{content}}	
      </div>
      {% include footer.html %}
      </div>
   </body>
</html>
