<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <title>James Fraser</title>
  <meta name="description" content="wulfgar.pro, a space for James Fraser" />
  <link rel="icon" href="images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
 </head>
 <body>
  <div id="header">
   <div class="nav">
    <section class="navigation">
     <ul>
      <li><a href="/">wulfgar.pro</a>, a space for James Fraser</li>
      <li><a href="https://github.com/wulfgarpro">github</a></li>
      <li><a href="https://twitter.com/#!/wulfgarpro">twitter</a></li>
     </ul>
    </section>
   </div>
  </div>
  <div id="content">
   {{content}}	
  </div>
  <div id="footer">
   <p>James Fraser <strong>is</strong> <a href="/">wulfgar.pro</a> / wulfgar dot pro @ gmail dot com</p>
  </div>
</body>
<!-- hacked with vim -->
</html>
